/* Geral */

html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Área dos Pontos */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.life.danger{
    background-color: red;
}

.result{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.lose{
    color: red;
}

.win{
    color: green;
}

/* Área dos botões */

.buttons{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 110%;
    color: white;
}

.new-game{
    background-color: #4253af;
}

.attack{
    background-color: red;
}

.special-attack{
    background-color: orange;
    color: black;
}

.heal{
    background-color: green;
}

.give-up{
    background-color: #bbbb;
    color:black;
}

.logs{
    text-align: center;
    background: purple;
    color: white;
}